.main{border:solid;width:1000px;height:500px;background-color:black;}
fieldset{width:800px;height:400px;margin-top:30px;background-color:black;color:white;}
input{width:150px;height:30px;background-color:black;}
.m{border:solid;width:300px;height:150px;margin-left:40px;border-color:white;}
button{color:white;background-color:red;margin-left:290px;}